<img src="images/logo-etogs.png" alt="logo">
<div class="container">
  <h1>L'écologie ça passe aussi par ce qu'on porte sur le dos, pas vrai ?</h1>
  <h2>Alors...Prêt à découvrir Etogs ?</h2>
  <% link_to "/infos.html" do %>
    <%= image_tag '1st-picture.svg' %>
  <% end %>

  <%= image_tag 'fleche.svg'%>

  <% link_to "/questions.html" do %>
    <%= image_tag '2nd-picture.svg' %>
  <% end %>

  <%= image_tag 'fleche.svg'%>

  <% link_to "/etogs.html" do %>
    <%= image_tag '3rd-picture.svg' %>
  <% end %>

  <%= image_tag 'fleche.svg'%>

  <% link_to "/interest.html" do %>
    <%= image_tag '4e-picture.svg' %>
  <% end %>
  <div class="mt-50">
    <img src="images/enveloppe.png" alt="" class="contact">
  </div>

</div>
